@page
@using DomainCentricDemo.Application.Dto
@model DomainCentricDemo.WebApp.Pages.Book.EditModel

@{
    ViewData["Title"] = "Edit";
}
<head>
	<link rel="stylesheet" href="~/css/site.css" />
</head>

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
	<div class="form-group">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Book.Id" />
			<input type="hidden" asp-for="Book.RowVersion" />
			<div class="form-group">
				<label asp-for="Book.Title" class="control-label fw-bold p-2"></label>
				<input asp-for="Book.Title" class="form-control" />
				<span asp-validation-for="Book.Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Book.Description" class="control-label fw-bold p-2"></label>
				<input asp-for="Book.Description" class="form-control" />
				<span asp-validation-for="Book.Description" class="text-danger"></span>
			</div>
			<label asp-for="Book.AuthorIds" class="control-label fw-bold p-2">Book Authors</label>
			<div class="table-form">
				<table class="table mb-0 table-striped table-hover">
					<tr>
						<th>Author Name</th>
						<th>Action</th>
					</tr>
					@foreach (AuthorDto author in Model.GetBookAuthors())
					{
						<tr>
							<td>@author.SirName @author.FirstName</td>
							<td>
								<a asp-page="./Delete" asp-route-id="@author.Id">Delete</a>
							</td>
						</tr>
					}
					<tr>
						<td></td>
						<td>
							<a asp-page="../Author/Create">Add author</a>
						</td>
					</tr>
				</table>
			</div>
				<span asp-validation-for="Book.AuthorIds" class="text-danger"></span>
			<div class="form-group mt-3">
				<input type="submit" value="Save" class="btn btn-primary" />
				<a asp-page="./Index" class="btn btn-danger">Back to List</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
